body {
    margin: 0;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
} 

.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}

.btn-accent {
    background: #e45826;
    color: #FFFFFF;
}

.btn-accent::hover {
    background: #e45826;
    color: #FFFFFF;
}

.btn-white {
    background: #FFFFFF;
    color: #e45826;

}

.btn-white:hover {
    color: red;
    background: deepskyblue;
}

img {
    width: 100%;
}

header {
    background: #383e56;
    padding: 48px 0;
    color:#e6d5b8;
}

section{
    padding: 48px 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.section-two{
    background: #f7f7f7;
    color: black;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    color: #555555
}